* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

header {
    width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-section {
    background-color: #1f2937;
    padding-bottom: 100px;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.nav-links {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 20px;
}

.second-section {
    width: 960px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.main-text {
    color: white;
    font-size: 48px;
    font-weight: bold;
}

.main-subtitle {
    color: white;
    font-size: 18px;
}

.sub-button {
    color: white;
    background-color: blue;
    border: none;
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}

.image-box {
    background-color: gray;
    width: 900px;
    text-align: center;
    padding: 110px 20px 110px 20px;
}

.third-section {
    width: 960px;
    margin: auto;
    padding-bottom: 150px;
}

.random-info {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    margin-top: 50px;
}

.random-cubs-rod {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.random-cubs {
    border: 4px solid blue;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    color: white;
}

.subtitle-cubs {
    margin-top: 10px;
    width: 210px;
    text-align: center;
}

.fourth-section {
    background-color: #e5e7eb;
}

.quote-section {
    width: 960px;
    margin: auto;
    padding: 100px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.author-of-quote {
    margin-top: 10px;
    text-align: end;
    font-size: 24px;
    font-weight: bold;
}

.fiveth-section {
    width: 960px;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 150px;
}

.action-div {
    padding: 40px 100px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.call-to-action {
    font-weight: bold;
    font-size: 18px;
}

.sign-up {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.footer {
    background-color: #1f2937;
}

.footer-text {
    padding: 50px;
    text-align: center;
    color: white;
}




